body{
  background-color: #393E46;
  text-align: center;
  color: #6ECCAF;
}

h1{
  font-family: 'Nerko One', cursive;
  font-size: 10vw;
  text-shadow: black 0.15rem 0.15rem;
  margin: 0;
}

h3{
  font-family: 'Courgette', cursive;
  font-size: 3vw;
  font-weight: 200;
  text-shadow: black 0.1rem 0.1rem;
  margin: 0 1vw 0 0;
}

/* Count section */
._count-font{
  color: #D6E4E5;
  text-align: center;
  display: inline-block;
  font-size: 5vw;
  vertical-align: middle;
}
._count-plus, ._count-minus{
  margin: 0 2vw 0 2vw;
  color: #D6E4E5;
}

._count-plus:hover, ._count-minus:hover{
  color: white;
}


._update-button{
  color: #ADE792;
  background-color: #393E46;
  border: 0;
  vertical-align: middle;
  margin-left: 10vw;
  font-size: 4vw;
}

.js-update-button-animation{
  transform: rotate(360deg);
  transition-duration: 0.2s;
}

/* Dice section */
._dice-section{
  margin-top: 3vw;
}
._dice-image{
  width: 18vw;
  margin: 2vw;
}

._dice-centr{
  margin: 0 auto;
}
